@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');

:root {
    --theme: rgb(15, 15, 15);
    --theme-hover: rgb(82, 82, 82);
    --text-color: rgb(251, 251, 251);
    --stats-color: rgb(165, 161, 161);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}

body {
    padding-left: 92px;
    padding-top: 60px;
}