@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');

:root {
    --theme: rgb(15, 15, 15);
    --hover: rgba(225, 223, 223, 0.853);
    --text-color: rgb(251, 251, 251);
    --stats-color: rgb(165, 161, 161);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
    transition:background-color 0.3s;
}

body {
    padding-left: 92px;
    padding-top: 60px;
    padding-bottom: 100px;
}
