.horizontal-nav {
  display: flex;
  flex-direction: row;
  height: 55px;
  position: fixed;
  top:0;
  right:0;
  left:0;
}

.left-section,
.middle-section,
.right-section,
.create-btn {
  display: flex;
  align-items: center;
}

.left-section {
  width: 200px;
  justify-content: space-around;
}


.right-section {
  width: 230px;
  justify-content: space-evenly;
}


.hamburger {
  height: 18px;
  margin-left: 10px;
}

.youtube-logo {
  height: 25px;
}

.yt-logo {
  display: flex;
  position: relative
}

.trademark {
  position: absolute;
  top: -8px;
  font-size: 11px;
  right: -15px;
  width: 15px;
  color: var(--stats-color);
  font-weight: 400;
}

.create-btn {
  background-color: var(--stats-color);
  font-size: 13px;
  font-weight: bold;
  padding: 6px 8px 6px 8px;
  border-radius: 20px;
}

.plus {
  height: 20px;
  margin-right: 10px;
}

.bell {
  height: 23px;
}

.profile {
  height: 32px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 10px;
}

.voice {
  margin-left: 4px;
  padding: 10px;
  border: none;
  border-radius: 50px;
}

.voice-img {
  height: 22px;

}

.middle-section {
  flex: 1;
  justify-content: center;
}

.Search-box {
  z-index: 100;
  max-width: 550px;
  flex: 1;
  font-weight: bold;
  font-size: 15px;
  height: 38px;
  border-radius: 30px;
  padding-left: 15px;
  border: 1px solid var(--stats-color);
  width: 0px;
}

.search-icon {
  width: 49px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: -30px;
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid var(--stats-color);
  background-color: var(--stats-color);
}

.search-img {
  height: 23px;
}