.games-header {
  padding-top: 15px;
  display: flex;
  margin-top: 40px;
  margin-bottom: 15px;
  padding-left: 53px;
  flex-direction: row;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
}

.games-header .text {
  display: flex;
  flex-direction: column;
}

.text .title {
  font-weight: bold;
  font-family: arial;
  font-size: 24px;
}

.games-header .discription {
  color: gray;
  font-size: 12px;
  margin-top: 4px;
}

.game-buttons {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0px;
}

.game-buttons button {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.close img {
  height: 15px;
}

.view-all {
  border: 1px solid black;
  font-weight: bold;
  padding: 7px 14px;
  font-size: 14px;
  border-radius: 30px;
}

.game-buttons .view-all:hover {
  background-color: var(--hover);
}

.close {
  margin-right: 10px;
  border: none;
}

.games {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 14px;
  margin-right: 14px;
}

.game-card:hover {
  width: 101%;
  height: 101%;
}

.game-card .game-interface {
  height: auto;
  border-radius: 10px;
  padding: 9px;
}

.game-thumbnail img {
  width: 100%;
  height: auto-fit;
  border-radius: 5px;
  filter: brightness(1.1);
  filter: contrast(1.2);
}

.play {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  mix-blend-mode: screen;
  border: none;
  width: 100%;
  font-weight: 700;
  padding: 14px 15px;
  margin-top: 4px;
  border-radius: 20px;
}

.play:hover {
  background-color: white;
}

.game-name {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.game-name img {
  height: 17px;
}

.game-name .text {
  margin-left: 3px;
}

.game-name .name {
  font-weight: bold;
}

.menu {
  cursor: pointer;
  padding-top: 5px;
  padding: 6px 10px;
  padding-top: 10px;
  border-radius: 100%;
}

.menu:hover {
  background-color: var(--hover);
}

.game-name .players {
  font-size: small;
  color: gray;
  margin-top: 3px;
  font-weight: 600;
}